.netlify-contact-form input,
.netlify-contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--main-sidebar-color);
  background-color: var(--main-bg-content);
  padding: 1% 1%;
}

.netlify-contact-form button {
  background-color: var(--main-sidebar-color);
  width: 100%;
  color: var(--main-bg-content);
  padding: 1%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}
