.post-navigator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.post-navigator a {
  color: var(--alt-accent-content) !important;
}

.post-nav {
  text-decoration: none;
}
