.post-summary-subtitle {
  text-transform: uppercase;
  color: var(--main-fg-accent);
}

.post-summary-link {
  box-shadow: none;
  color: var(--main-fg-content) !important;
}

.post-summary-link:hover {
  text-decoration: underline;
}
